@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mvc-yellow: #ffd966;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-image: linear-gradient(to right, #073763f6, #073763f6), url('/recipe-bkg.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .page-title {
    @apply text-mvc-yellow;
    @apply text-4xl;
    text-align: right;
    margin: 15px 0 45px 0;
    text-shadow: 2px 2px 5px rgb(66 66 66 / 70%);
  }

  .notes-focus-glow {
    box-shadow: 0px 0px 2px 1px #6aa84f;
  }
}
